<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
    <title>Опубликовать видео</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ui/main_' + session.get('theme', 'black') + '.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    .video-title h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: left;
        width: 100%;
        }
    
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="publish">
    <div class="top-bar">
        <a href="/">
            <img class="logo" src="{{ url_for('static', filename='ui/logo.png')}}">
        </a>
	</div>
    
    <div class="container mt-5">
        <h1 class="mb-4">Публикация</h1>
    
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="input-area" class="form-group">
                <label for="title">Название</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Название..." required>
            </div>
            <div class="input-area" class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Описание..." required></textarea>
            </div>
            <div class="form-group">
                <label for="video">Видео</label>
                <input type="file" class="form-control-file" id="video" name="video" accept="video/*" required>
            </div>
            <div class="form-group">
                <label for="cover">Обложка</label>
                <input type="file" class="form-control-file" id="cover" name="cover" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Опубликовать</button>
        </form>
    
        <div id="progressContainer" class="progress-container" style="display: none; margin-top: 20px;">
            <h4>Загрузка файлов...</h4>
            <progress id="uploadProgress" value="0" max="100" style="width: 100%;"></progress>
            <div id="progressText" style="text-align: center; margin-top: 10px;">0% - 0MB из 0MB</div>
            <div id="speedText" style="text-align: center; margin-top: 10px;">Скорость: 0 б/с</div>
            <div id="estimatedTimeText" style="text-align: center; margin-top: 10px;">Ожидаемое время: 0 сек</div>
        </div>
    </div>
    
<h2>Предпросмотр</h2>
<ul id="video-list" class="video-list">
    <li class="video-item" style="display: inline;">
           <img class="video-thumbnail" style="display: none;" id="imagePreview" src="" max-width="640" max-height="360" width="640" height="360" alt="Cover">
           <div class="video-title">
                 <h3><strong id="preview-title"></strong></h3>
           </div>
           <div>
                <b><span style="font-size: 18px;" class="material-icons">thumb_up</span> 0 <span style="font-size: 18px;" class="material-icons">thumb_down</span> 0 • 1 секунду назад</b>
          </div>
     </li>
     <li class="video-item" style="display: inline;">
           <img class="video-thumbnail" style="display: none;" id="imagePreview1" src="" max-width="640" max-height="360" width="640" height="360" alt="Cover">
           <div class="video-title">
                 <h3><strong id="preview-title1"></strong></h3>
           </div>
           <div>
                <b><span style="font-size: 18px;" class="material-icons">thumb_up</span> 0 <span style="font-size: 18px;" class="material-icons">thumb_down</span> 0 • 1 секунду назад</b>
          </div>
     </li>
     <li class="video-item" style="display: inline;">
           <img class="video-thumbnail" style="display: none;" id="imagePreview2" src="" max-width="640" max-height="360" width="640" height="360" alt="Cover">
           <div class="video-title">
                 <h3><strong id="preview-title2"></strong></h3>
           </div>
           <div>
                <b><span style="font-size: 18px;" class="material-icons">thumb_up</span> 0 <span style="font-size: 18px;" class="material-icons">thumb_down</span> 0 • 1 секунду назад</b>
          </div>
     </li>
</ul>

<script>
    function toggleUserMenu() {
        const menu = document.getElementById('user-menu');
        menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
    }
</script>

<script>
    document.getElementById('cover').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imagePreview').src = e.target.result;
                document.getElementById('imagePreview').style.display = 'block';
                document.getElementById('imagePreview1').src = e.target.result;
                document.getElementById('imagePreview1').style.display = 'block';
                document.getElementById('imagePreview2').src = e.target.result;
                document.getElementById('imagePreview2').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
    
    const titleInput = document.getElementById('title');
    titleInput.addEventListener('input', function() {
        document.getElementById('preview-title').textContent = '' + titleInput.value;
        document.getElementById('preview-title1').textContent = '' + titleInput.value;
        document.getElementById('preview-title2').textContent = '' + titleInput.value;
    });
</script>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = new FormData(this);

        document.getElementById('progressContainer').style.display = 'block';

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);

        var startTime = Date.now();
        var previousLoaded = 0;

        function formatBytes(bytes) {
            if (bytes < 1024) return bytes + ' б/с';
            else if (bytes < 1024 * 1024) return (bytes / 1024).toFixed(2) + ' Кб/с';
            else if (bytes < 1024 * 1024 * 1024) return (bytes / (1024 * 1024)).toFixed(2) + ' Мб/с';
            else return (bytes / (1024 * 1024 * 1024)).toFixed(2) + ' Гб/с';
        }

        function formatTime(seconds) {
            var days = Math.floor(seconds / (24 * 3600));
            var hours = Math.floor((seconds % (24 * 3600)) / 3600);
            var minutes = Math.floor((seconds % 3600) / 60);
            var sec = Math.floor(seconds % 60);

            var timeString = "";
            if (days > 0) timeString += days + " дн ";
            if (hours > 0) timeString += hours + " ч ";
            if (minutes > 0) timeString += minutes + " мин ";
            timeString += sec + " сек";

            return timeString;
        }

        xhr.upload.addEventListener('progress', function(event) {
            if (event.lengthComputable) {
                var percent = (event.loaded / event.total) * 100;
                var loadedMB = (event.loaded / (1024 * 1024)).toFixed(2);
                var totalMB = (event.total / (1024 * 1024)).toFixed(2);

                var currentTime = Date.now();
                var timeElapsed = (currentTime - startTime) / 1000;
                var bytesPerSecond = (event.loaded - previousLoaded) / timeElapsed;

                var remainingBytes = event.total - event.loaded;
                var estimatedTime = remainingBytes / bytesPerSecond;
                var estimatedTimeSec = Math.max(0, Math.round(estimatedTime));

                var formattedTime = formatTime(estimatedTimeSec);

                document.getElementById('uploadProgress').value = percent;
                document.getElementById('progressText').textContent = 
                    Math.round(percent) + '% - ' + loadedMB + 'MB из ' + totalMB + 'MB';
                document.getElementById('speedText').textContent = 'Скорость: ' + formatBytes(bytesPerSecond);
                document.getElementById('estimatedTimeText').textContent = 'Ожидаемое время: ' + formattedTime;

                previousLoaded = event.loaded;
                startTime = currentTime;
            }
        });

        xhr.onload = function() {
            if (xhr.status == 200) {
                document.getElementById('progressText').textContent = 'Загрузка завершена!';
                document.getElementById('speedText').textContent = '';
                document.getElementById('estimatedTimeText').textContent = '';
                document.getElementById('uploadProgress').style.transition = 'width 0.5s ease-out'
                document.getElementById('uploadProgress').value = 100;
                
                setTimeout(function() {
                    if (xhr.responseURL && xhr.responseURL.includes('/watch')) {
                        window.location.href = xhr.responseURL;
                    } else {
                        try {
                            var response = JSON.parse(xhr.responseText);
                            if (response.redirect_url) {
                                window.location.href = response.redirect_url;
                            }
                        } catch (e) {
                            window.location.reload();
                        }
                    }
                }, 1000);
                
            } else {
                alert('Ошибка при загрузке файлов.');
                document.querySelector('button[type="submit"]').textContent = "Опубликовать";
                document.getElementById('progressContainer').style.display = 'none';
            }
        };

        xhr.onerror = function() {
            alert('Ошибка сети при загрузке файлов.');
            document.querySelector('button[type="submit"]').textContent = "Опубликовать";
            document.getElementById('progressContainer').style.display = 'none';
        };

        document.querySelector('button[type="submit"]').textContent = "Загрузка...";

        xhr.send(formData);
    });
</script>
</body>
</html> 
