<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='ui/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui/main_' + session.get('theme', 'black') + '.css') }}">
    <title>Настройки - FreshTube</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            height: 100vh;
            text-align: center;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
        }
    </style>
</head>
<body class="settings">
    <div class="top-bar">
        <a href="/">
            <img class="logo" src="{{ url_for('static', filename='ui/logo.png')}}" alt="logo">
        </a>
        {% if session.get('user_id') %}
            <img src="{{ url_for('static', filename='imgs/avatar_' + (session.get('user_id') | string if session.get('user_id') else none) + '.jpg') }}" alt="User Icon" class="user-icon" onclick="toggleUserMenu()">
        {% else %}
            <img src="{{ url_for('static', filename='ui/user.png') }}" alt="User Icon" class="user-icon" onclick="toggleUserMenu()">
        {% endif %}
        <div id="user-menu" class="user-menu">
            {% if session.get('user_id') %}
                <div class="user-container">
                    <img src="{{ url_for('static', filename='imgs/avatar_' + (session.get('user_id') | string if session.get('user_id') else none) + '.jpg') }}" alt="User Icon" class="user-icon" onclick="toggleUserMenu()">
                    <div class="menu-items">
                        <b style="display: flex;">{{ user.nickname }}</b>
                        <p style="margin-top: 5px; display: flex;">ID: {{ session.get('channel_id') }}</p>
                    </div>
                </div>
                <div class="channel-link">
                    <a href="{{ url_for('channel', id=session.get('user_id')) }}">Посмотреть канал</a>
                </div>
                <div class="menu-section">
                    <a href="{{ url_for('logout') }}"><button><b>Выйти</b></button></a>
                </div>
                <div class="menu-section">
                    <a href="settings"><button><b>Настройки</b></button></a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}"><button><b>Вход</b></button></a>
                <a href="{{ url_for('register') }}"><button><b>Регистрация</b></button></a>
            {% endif %}
        </div>
	</div>
    <div class="main-container">
        <div class="container">
            <h1 style="color: #ff5555;">В разработке</h1>
            <p>Настройки разрабатываются.
                <br>Так что эта страница будет просто пустой, пока что!<br>
                <h2>Поддержать проект</h2>
                <h2>на <a style="color: rgb(216, 140, 0);" href="https://www.donationalerts.com/r/freshgame_" target="_blank">DonationAlerts</a></h2><br>Также можно пожертвовав по приколу <a style="color: rgb(0, 190, 0);" href="https://fpibank.com" target="_blank">FPI BANK</a> или TON: <p style="color: rgb(0, 183, 255);">UQB5zVG-ZlfJOTuCkReQxVr_3RDbcA9CO5eB8Mnh9TmsiH3W</p>
                <br>Всё уйдёт на оплату домена, ssl сертификата и хостинга.
                <br>а если что то останется уйдёт на апгрейд железа или покупки белого айпи, чтоб не мучатся с хостингами.
            </p>
        </div>
        <div class="container">
            <h1>Настройки</h1>
            <div style="text-align: left;">
                <h2>Сменить тему</h2>
                <button class="theme-btn" id="white" onclick="changeTheme('white')">Светлая</button>
                <button class="theme-btn" id="black" onclick="changeTheme('black')">Темная</button>
                <form id="theme-form" action="/update_theme" method="POST" style="display: none;">
                    <input type="hidden" name="theme" id="theme-input">
                </form>
            </div>
        </div>
    </div>
    <script>
        function toggleUserMenu() {
            const menu = document.getElementById('user-menu');
            menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
        }
    </script>
    <script>
        function changeTheme(theme) {
            document.querySelectorAll('.theme-btn').forEach(button => button.classList.remove('active'));
            document.getElementById(theme).classList.add('active');
            document.getElementById('theme-input').value = theme;
            document.getElementById('theme-form').submit();
        }
    </script>
</body>
</html>